@charset "UTF_8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

form{
    width: 100%;
    margin: 0 auto;
}

form fieldset{
    margin: 10px auto;
    border-radius: 20px;
}

input, textarea {
    font-size: 13pt;
    background-color: rgba(255,255,255,.5);
    outline: none;
    border-radius: 20px;
    padding: 0 1em;
}

input:hover, textarea:hover {
    background-color: #dddddd;
}

legend{
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
} 

fieldset{
    border-color: rgb(19, 19, 190);
    margin: 20px;
}

.sexo{
    border: none;
    margin-left: 16px;
}

.sexo input{
    margin-left: 16px;
}

.usuario{
    background: url("../imagens/icone-contato.png") no-repeat 95% 95%;
    width: inherit;
}

.endereco{
    background: url("../imagens/icone-endereco.png") no-repeat 95% 95%;
    width: inherit;
}

.mensagem{
    background: url("../imagens/icone-mensagem.png") no-repeat 95% 95%;
    width: inherit;
}

.pedido{
    background: url("../imagens/icone-pagamento.png") no-repeat 95% 95%;
    width: inherit;
}

.btn{
    display: flex;
    justify-content: flex-end;
}

#cEnviar{
    border: none;
    border-radius: 20px;
    background-color: rgb(92, 92, 194);
    color: #fff;
    margin-top: 10px;
    font-family: 'Roboto';
    padding: .8% 2%;
    cursor: pointer;
}

#cEnviar:hover{
    background-color: rgb(22, 22, 219);
    color: #fff;
}

