@charset "UTF-8";

/*Formatação da minha ul em geral*/
.album-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Formatação dos li em geral*/
.album-fotos li{
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(82, 82, 209);
    border-radius: 5px;
    position: relative;
}

.album-fotos li img{
    width: 100%;
    height: 100%;
}   

.album-fotos li span{
    position: absolute;
    top: 50%;
    left: 50%;
}
