@charset "UTF-8";

.tv-radio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
}

.musica{
    width: 100%;
    grid-column-start: 1;
    margin: auto;
}

.filme{
    width: 100%;
    grid-column-start: 2;
}

/* Medias Queries */

/* Mobile */

@media(max-width: 425px){

    body, div#interface, .header, .noticia-principal, .feels{
		width: 100%;
	}

    .menu{
        font-size: .5em;
    }

    .tv-radio{
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .musica, .filme{
        grid-column-start: initial;
    }
}

/* Tablet */

@media(min-width: 426px) and (max-width: 768px){

    body, div#interface, .header, .noticia-principal, .feels{
		width: 100%;
	}

    .menu{
        font-size: .6em;
    }
}

/* Laptop */

@media(min-width: 769px) and (max-width: 1224px){

	body, div#interface, .header, .noticia-principal, .feels{
		width: 100%;
	}

	.menu{
		font-size: .8em;
	}
}