@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* CSS RESET */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/*Formatação do corpo */

body{
	font-family: Arial, sans-serif;
}

#interface{
	width: 80%;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5); 
	border: none;
	border-radius: 5px;
}

p{
	text-align: justify;
	text-indent: 20px;
    margin: 1rem 0;
}

a{
    color: #606060;
    text-decoration: none;
}

/* Configuração do Header */

.header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid rgb(68, 68, 219);
	padding: 2%;
	height: 150px;
}

.header h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #6060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);	
}

.header h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 15pt;
	color: #888;
	position: relative;
}

/* Formatação do menu*/

.menu{
	display: flex;
	font-weight: bold;	
	text-transform: uppercase;
}
			
.menu li{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ddd;
	margin-right: .4rem;
	padding: .8em;
	font-family: 'Roboto';
    transition: .5s;
	border-radius: 5px;
}
			
.menu li:hover{
	background-color: rgb(34, 34, 138);
}			
			
.menu a {
	color: #fff;
}

/*Formatação do Footer*/

.footer{
	display: flex;
	justify-content: center;
	height: 100px;
	padding: 5%;
    background-image: linear-gradient(to right, rgb(50, 50, 168), rgb(44, 44, 233));
}

.footer p{
    font-family: 'Roboto';
    color: #fff;
}

.copy{
	text-align: justify;
	max-width: 50%;
}

.midias-sociais{
	display: flex;
}

.footer a{
    color: #fff;
    font-size: 1.2rem;
}

.footer a:hover i{
    /* transform: rotate(-60deg); */
    transform: rotate(-30deg);
    transition: .5s;
}

