@charset "UTF-8";

section#conteudo {
    width: 1100px;
    margin: auto;
                 }

section#conteudo iframe#novaAba{
    position: relative;
    display: block;
    float: right;
    width: 400px;
    height: 200px;
    margin: 30px 100px auto auto;
    padding: auto;
    box-shadow: 1px 1px 3px #606060;
}